In [1]:
import pandas as pd

In [4]:
data = pd.read_clipboard()
data

     姓名   班级
0   王晓明   1班
1   刘乐乐   2班
2   王一一   4班
3    张三   4班
4    李四   5班
5    王五   6班
6    马六   7班
7    赵倩   8班
8    孙俪   9班
9    周五  10班
10   郑东   4班